{{template "layoutTop" .}}
{{$ticket := .ticket}}
<h2>{{$ticket.ArtistName}} : {{$ticket.Name}}</h2>
<ul>
  {{range .variations}}
  <li class="variation">
    <form method="POST" action="/buy">
      <input type="hidden" name="ticket_id" value="{{$ticket.ID}}" />
      <input type="hidden" name="variation_id" value="{{.ID}}" />
      <span class="variation_name">{{.Name}}</span> 残り<span class="vacancy" id="vacancy_{{.ID}}">{{.Count}}</span>席
      <input type="text" name="member_id" value="" />
      <input type="submit" value="購入" />
    </form>
  </li>
  {{end}}
</ul>

<h3>席状況</h3>
{{range .seatMaps}}
  {{.}}
{{end}}
{{template "layoutBottom" .}}
